@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* main body nav and page format */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin: 0 auto;
  max-width: 80%;
  padding: 50px 50px;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}


/* 
.bg .gradient {
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7),
    rgba(72, 15, 144, 0.4) 100%
  );
} */

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(228, 228, 228);
}

a.navbar-brand {
  text-decoration: none;
  color: white;
  font-size: 45px;
  display: flex;
  justify-content: center;
}

a.nav-link {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.ml-auto {

}

/* media query for navbar-nav */
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
} 

nav a:hover {
  text-decoration: none;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

h4 {
  text-shadow: 2px 1px #ffffff;
}

.background {
  text-shadow: 2px 1px #000000;
}

.error {
  text-shadow: 2px 1px #ffffff;
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  font-size: 24px;
  display:none;
}

.show {
  display:block !important;
  display: flex;
  width: 250px;
  font-size: 18px;
  flex-wrap: wrap;
  margin-left: 75%;
}

@media only screen and (min-width: 200px) and (max-width: 1300px) {

   #navHeaders {
    display: none;
  } 

  .hamburger {
    margin-top: 5px;
    display: block !important;
    margin-left: 94%;
    padding: 0px;
    outline: none;
    cursor: pointer;
  }

}